.Card-Skeleton {
   /* background-color: #fff; */
   background: #2e4057;
   color: rgba(212, 212, 212);
   border: 1px solid gray;
   width: 100%;
   min-height: 200px;
   padding: 30px;
   border-radius: 0.5rem;
}
