.Job-Card {
   background: #2e4057;
   color: rgba(212, 212, 212);
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   text-decoration: none;
   width: 90%;
   /* min-width: 600px; */

   min-height: 200px;
   padding: 30px;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
}

.Job-Title {
   font-size: 1.6rem;
   margin-bottom: 0.6rem;
}
.Job-Provider {
   font-weight: 450;
}
.Job-Post-Time {
   padding-bottom: 0.3rem;
   font-size: 0.8rem;
}
.Job-Card-Link {
   flex: 1;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   font-size: 0.8rem;
}
.Job-Card-Link a {
   text-decoration: none;
   font-size: 0.9rem;
   padding: 0.2rem 0.5rem;
   color: lightslategray;
   border: 1px solid lightslategray;
   border-radius: 1rem;
   transition: 0.3s ease-out;
}
.Job-Card-Link a:hover {
   background-color: lightslategray;
   transition: 0.3s ease-out;
   color: #fff;
   cursor: pointer;
}
