.Job-Card {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   text-decoration: none;
   width: 90%;
   min-height: 200px;
   padding: 30px;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
}
.Job-Card:hover {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.Job-Title {
   font-size: 1.2rem;
   font-family: "Poppins";
   margin-bottom: 0.6rem;
}
.Job-Provider {
   font-weight: 450;
}
.Job-Post-Time {
   padding-bottom: 0.3rem;
   font-size: 0.8rem;
}
.Job-Card-Link {
   flex: 1;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   font-size: 0.8rem;
}
.Job-Card-Link a {
   text-decoration: none;
   font-size: 0.9rem;
   padding: 0.2rem 0.5rem;
   color: green;
   border: 1px solid green;
   border-radius: 1rem;
   transition: 0.3s ease-out;
}
.Job-Card-Link a:hover {
   background-color: green;
   transition: 0.3s ease-out;
   color: #fff;
   cursor: pointer;
}
