.navbar {
   position: absolute;
   top: 0;
   right: 0;
   height: 80px;
   display: flex;
   justify-content: end;
}

.menu-bars {
   padding: 1rem;
   font-size: 2rem;
   background: none;
   color: gray;
}

.nav-menu {
   opacity: 0.96;
   z-index: 100;
   background: black;
   width: 30vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   position: fixed;
   top: 0;
   right: -30vw;
   transition: 0.2s;
}
.nav-menu.active {
   background-color: black;
   right: 0vw;
   transition: 0.3s;
   transform: scale(100%);
}

.nav-menu-items {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav-text {
   position: relative;
   text-align: center;
   margin: 1rem;
   height: 60px;
   width: 75%;
   color: #fff;
   overflow: hidden;
   border: 1px solid gray;
   border-radius: 20px;
   text-transform: uppercase;
   background-color: transparent;
   transform: translate(0);
   transition: 0.6s;
}

.nav-text::after {
   position: absolute;
   content: "";
   width: 0;
   bottom: 0;
   background: #fff;
   height: 100%;
   left: -40px;
   transform: skewX(-20deg);
   transition: 0.4s;
   z-index: -1;
}

.nav-text:hover {
   cursor: pointer;
   font-size: 90%;
   font-weight: bold;
   border-radius: 20px;
}

.nav-text:hover::after {
   left: -30px;
   width: 150%;
}

.nav-text a {
   color: gray;
   text-decoration: none;
   justify-content: center;
   font-size: 18px;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0.5rem;
   border-radius: 4px;
}

.nav-text a:hover {
   color: black;
}

.nav-menu-items {
   width: 100%;
}
.navbar-toggle {
   color: white;
   width: 100%;
   height: 80px;
   padding: 1rem;
   display: flex;
   justify-content: end;
   font-size: 2rem;
   cursor: pointer;
}
.navbar-toggle:hover {
   color: gray;
}
