.Story-modal,
.Story-overlay {
   width: 100vw;
   height: 100vh;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
}
.Story-overlay {
   background: rgba(49, 49, 49, 0.7);
}
.Story-button-modal {
   position: absolute;
   top: 0;
   right: 0;
   margin: 1rem;
}
.Story-content-modal {
   width: 100vw;
   height: 95vh;
   margin-top: 10vh;
   padding-top: 2rem;
   overflow-y: scroll;
   /* scrollbar-width: none; */
   background: #fff;
   padding: 5rem;
   border-radius: 2rem 2rem 0 0;
}
.Story-content-modal::-webkit-scrollbar {
   /* WebKit */
   width: 0;
   height: 0;
}
