body.active-modal {
   overflow-y: hidden;
}

.Story-Card {
   background: #fff;
   text-decoration: none;
   width: 100%;
   min-height: 200px;
   padding: 30px;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.Story-Card:hover {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.Story-Card a {
   align-self: flex-end;
   margin-top: -1rem;
   margin-right: -1rem;
   padding: 0.2rem;
   cursor: pointer;
}
.Story-Contents {
   display: flex;
   color: black;
   font-weight: 500;
   flex-direction: column;
   flex: 1;
   cursor: pointer;
}
.Story-Title {
   font-size: 1rem;
   margin-bottom: 0.6rem;
   font-family: Poppins;
   font-weight: 500;
}
.Story-Author {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   opacity: 0.8;
   flex: 1;
}
.Story-Details {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   font-size: 0.7rem;
   opacity: 0.8;
}
