.Story-modal,
.Story-overlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   /* display: flex; */
   /* justify-content: center; */
   /* align-items: center; */
}
.Story-overlay {
   background: rgba(0, 0, 0, 0.9);
}
.Story-button-modal {
   position: absolute;
   top: 0;
   right: 0;
   color: aqua;
   background: none;
   border: none;
   font-size: 1.5rem;
   padding: 1rem;
}
.Story-button-modal:hover {
   cursor: pointer;
}
.Story-content-modal {
   width: 100vw;
   height: 95vh;
   margin-top: 3rem;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* scrollbar-width: none; */
   background: #fff;
   padding: 5rem;
   border-radius: 1rem 1rem 0 0;
}
.Story-content-modal::-webkit-scrollbar {
   /* WebKit */
   width: 0;
   height: 0;
}
.Story-description-modal {
   /* display: flex; */
   min-width: 60vw;
   /* flex-direction: column; */
   /* align-items: center; */
}

.Story-title-modal {
   font-size: 2.5rem;
}
.Story-by-modal {
   font-size: 1.2rem;
   font-weight: 450;
}
.Story-posted-modal {
   opacity: 0.8;
}
.Story-comments {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
